body {
  background: #aee7ff;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.moving-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -20;
}

.moving-image-container img {
  width: 14383px; /* Width larger than the screen to extend beyond */
  height: 982px;
  position: absolute;
  animation: moveImage 300s linear infinite; /* Adjust duration (60s) as needed */
  z-index: -20;
}

@keyframes moveImage {
  0% {
    transform: translateX(0); /* Start from the left edge of the screen */
  }
  100% {
    transform: translateX(
      -14383px
    ); /* Move exactly the width of the image to the left */
  }
}

.arrow-container {
  position: absolute;
  top: 58vh;
  left: 48vw;
  width: 60px;
  height: 60px;
  animation: jump 2s infinite;
}

@keyframes jump {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button.breathButton {
  color: #fff;
  font-size: 36px;
  font-weight: 200;
  width: fit-content;
  padding: 18px 20px 18px 20px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 1px solid #fff;
  background: #aee7ff;
  margin: 10px 0; /* Add margin to separate paragraphs */
  text-align: center;
  cursor: pointer;
}

button.breathButton:hover {
  background: #fce57e;
}

.button {
  position: absolute;
  top: 5vh;
  left: 90vw;
}

.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}

p {
  width: fit-content;
  margin: 10px;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 3px solid #fff;
  background: #aee7ff;
}
div#caption {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
@keyframes growAndShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
}
.circle-anim {
  animation: growAndShrink 10s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px #ffd500;
    border-radius: 50%; /* Adjust the color and size as needed */
  }
  50% {
    box-shadow: 0 0 20px 10px #ffd500;
    border-radius: 50%; /* Adjust the color and size as needed */
  }
  100% {
    box-shadow: 0 0 10px 5px #ffd500; /* Adjust the color and size as needed */
    border-radius: 50%;
  }
}

svg.circle {
  animation: glow 2s infinite;
}

#timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 20vh;
}

.recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.responses {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}
