body {
  background: #aee7ff;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

img.clouds {
  z-index: -10;
  position: absolute;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.button {
  position: relative;
  z-index: 100;
  margin: 20px;
}
.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}
p {
  width: fit-content;
  margin: 10px;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 3px solid #fff;
  background: #aee7ff;
}
div#caption {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
@keyframes growAndShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
}
.circle-anim {
  animation: growAndShrink 10s ease-in-out infinite;
}

#timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 20vh;
}

.recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1200px;
  height: 800px;
  border-radius: 75px;
  border: 3px solid #fff;
  background: #aee7ff;
  z-index: 100;
}

.responses {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
/* .breathbutton {
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
} */
