body {
  background: #aee7ff;
  font-family: Helvetica;
  height: 100vh; /* Set height to viewport height */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Make the body position relative for absolute positioning of elements */
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
}

img.longclouds {

  top: 0;
  left: 0;
}
.moving-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -20;
}

.moving-image-container img {
  width: 14383px; /* Width larger than the screen to extend beyond */
  height: 982px;
  position: absolute;
  animation: moveImage 300s linear infinite; /* Adjust duration (60s) as needed */
}

@keyframes moveImage {
  0% {
    transform: translateX(0); /* Start from the left edge of the screen */
  }
  100% {
    transform: translateX(-14383px); /* Move exactly the width of the image to the left */
  }
}

p {
  color: #fff;
  width: fit-content;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 2px solid #fff;
  background: #aee7ff;
  margin: 10px 0; /* Add margin to separate paragraphs */
  text-align: center;
  z-index: 200;
}

p:hover {
  background: #fce57e;
}

div.button {
  position: absolute;
  left: 90vw;
  top: 5vh;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  display: flex;
}

.recap,
.meditate {
  margin: 0 10px;
}
a {
  text-decoration: none;
}
.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}
