body {
  background: #aee7ff;
  color: #fff;
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 200px;
  height: 230px;
}

div {
  padding: 30px 20px 30px 20px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  color: #fff;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  width: fit-content;
  margin: 10px;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 2px solid #fff;
  background: #aee7ff;
}

button:hover {
  background: #fce57e;
}

/* #reminderPopup {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */
