body {
  background: #aee7ff;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
/* img.longcloud {
  z-index: -20;
} */
.moving-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -20;
}

.moving-image-container img {
  width: 14383px; /* Width larger than the screen to extend beyond */
  height: 982px;
  position: absolute;
  animation: moveImage 300s linear infinite; /* Adjust duration (60s) as needed */
}

@keyframes moveImage {
  0% {
    transform: translateX(0); /* Start from the left edge of the screen */
  }
  100% {
    transform: translateX(
      -14383px
    ); /* Move exactly the width of the image to the left */
  }
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 200;
  line-height: normal;
}
p {
  color: #fff;
  width: fit-content;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 2px solid #fff;
  background: #aee7ff;
  margin: 10px 0; /* Add margin to separate paragraphs */
  text-align: center;
}
.happy {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.good {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.svgcontainer {
  margin-right: 10px; /* Adjust this value as needed for the spacing */
}
input[type="text"] {
  border: none;
  padding: 10px;
  background-color: transparent;
  outline: none;
  width: 500px; /* Set the width */
  height: 40px;
  color: #24befe; /* Text color */
  font-size: 20px;
}
input[type="text"]::placeholder {
  color: #24befe;
}

button.submitButton {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  width: fit-content;
  padding: 18px 20px 18px 20px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 1px solid #fff;
  background: #aee7ff;
  margin: 10px 0; /* Add margin to separate paragraphs */
  text-align: center;
  cursor: pointer;
}
button.submitButton:hover {
  background-color: #fce57e;
}

.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}
.emotions-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 0% 2.5% 0%;
}

div.emojiGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotions-container > div > svg:hover {
  cursor: pointer;
}

.emoji-cap {
  color: #24befe;
  border: none;
  font-weight: 50px;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
}

.emotions-container > div > svg:hover > g > g > path {
  fill: #fce57e;
}

.svgcontainer {
  margin-right: 10px; /* Adjust this value as needed for the spacing */
}
