body {
  background: #aee7ff;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

/* img.clouds {
  z-index: -20;
  position: absolute;
} */
.moving-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -20;
}

.moving-image-container img {
  width: 14383px; /* Width larger than the screen to extend beyond */
  height: 982px;
  position: absolute;
  animation: moveImage 300s linear infinite; /* Adjust duration (60s) as needed */
}

@keyframes moveImage {
  0% {
    transform: translateX(0); /* Start from the left edge of the screen */
  }
  100% {
    transform: translateX(-14383px); /* Move exactly the width of the image to the left */
  }
}

div.collectedDates,
div.collectedFeelings,
div.collectedIntentions,
div.collectedHopes {
  padding: 20px;
  font-size: 28px;
}
.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.button {
  position: absolute;
  top: 5vh;
  left: 90vw;
  z-index: 100;
}

.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}

p {
  width: fit-content;
  margin: 10px;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 75px;
  border: 3px solid #fff;
  background: #aee7ff;
  z-index: 10000;
}
div#caption {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
@keyframes growAndShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
}
.circle-anim {
  animation: growAndShrink 10s ease-in-out infinite;
}

#timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 20vh;
}

.recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1200px;
  height: 800px;
  border-radius: 75px;
  border: 3px solid #fff;
  background: #aee7ff;
  z-index: 100;
}

.responses {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.button > svg:hover > g path:nth-child(1) {
  fill: #fce57e;
}
